In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.naive_bayes import GaussianNB

In [4]:
df = pd.read_csv(r"C:\Users\tarun\Documents\taruns imp\Data science material\assignments\SETS\Naive byers\SalaryData_Train.csv")

In [5]:
test = pd.read_csv(r"C:\Users\tarun\Documents\taruns imp\Data science material\assignments\SETS\Naive byers\SalaryData_Test.csv")

In [6]:
df1 = df.copy()

In [7]:
test1 = test.copy()

In [8]:
df.isnull().sum()
test.isnull().sum()

age              0
workclass        0
education        0
educationno      0
maritalstatus    0
occupation       0
relationship     0
race             0
sex              0
capitalgain      0
capitalloss      0
hoursperweek     0
native           0
Salary           0
dtype: int64

In [9]:
x_train = df1.drop(['Salary'], axis = 1)
y_train = df1['Salary']

In [10]:
x_test = test1.drop(['Salary'], axis = 1)
y_test = test1['Salary']

In [14]:
import category_encoders as ce

In [15]:
x_train.columns

Index(['age', 'workclass', 'education', 'educationno', 'maritalstatus',
       'occupation', 'relationship', 'race', 'sex', 'capitalgain',
       'capitalloss', 'hoursperweek', 'native'],
      dtype='object')

In [16]:
encoder=ce.OneHotEncoder(cols=['workclass','education', 'maritalstatus', 'occupation', 'relationship', 'race', 'sex', 'native'])

In [21]:
x_train=encoder.fit_transform(x_train)

In [22]:
x_test=encoder.fit_transform(x_test)

In [23]:
x_train.head()
x_train.shape
x_test.head()
x_test.shape

(15060, 102)

In [24]:
cols=x_train.columns

In [25]:
from sklearn.preprocessing import  RobustScaler

In [26]:
scaler=RobustScaler()

In [27]:
x_train=scaler.fit_transform(x_train)

In [28]:
x_test=scaler.fit_transform(x_test)

In [32]:
x_train=pd.DataFrame(x_train,columns=[cols])

In [33]:
x_test=pd.DataFrame(x_test,columns=[cols])

In [34]:
x_test.head()

,age,workclass_1,workclass_2,workclass_3,workclass_4,workclass_5,workclass_6,workclass_7,education_1,education_2,...,native_31,native_32,native_33,native_34,native_35,native_36,native_37,native_38,native_39,native_40
0,-0.60,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.05,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,-0.45,-1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.35,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,-0.15,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [36]:
x_train.head()

,age,workclass_1,workclass_2,workclass_3,workclass_4,workclass_5,workclass_6,workclass_7,education_1,education_2,...,native_31,native_32,native_33,native_34,native_35,native_36,native_37,native_38,native_39,native_40
0,0.105263,1.0,0.0,-1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.684211,0.0,1.0,-1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.052632,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.842105,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,-0.473684,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [39]:
gnb=GaussianNB()

In [42]:
gnb.fit(x_train,y_train)

GaussianNB()

In [43]:
y_predict=gnb.predict(x_test)

In [45]:
accuracy_score(y_test,y_predict)

0.7289508632138114

In [46]:
y_predict=gnb.predict(x_train)

In [47]:
accuracy_score(y_train,y_predict)

0.8014323132522131

### Problem Statement: -
This dataset contains information of users in a social network. This social network has several business clients which can post ads on it. One of the clients has a car company which has just launched a luxury SUV for a ridiculous price. Build a Bernoulli Naïve Bayes model using this dataset and classify which of the users of the social network are going to purchase

In [54]:
df=pd.read_csv(r"C:\Users\tarun\Documents\taruns imp\Data science material\assignments\SETS\Naive byers\NB_Car_Ad.csv")

In [55]:
df.drop(['User ID'],axis=1,inplace=True)

In [56]:
df['Gender'] = df['Gender'].map({'Male': 1, 'Female': 0}).astype(int)

In [57]:
x = df.drop(['Purchased'], axis = 1)
y = df['Purchased']

In [58]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.25, random_state = 0)

In [59]:
x_train.head()

     Gender  Age  EstimatedSalary
250       0   44            39000
63        1   32           120000
312       0   38            50000
159       0   32           135000
283       0   52            21000

In [60]:
cols = x_train.columns
x_train = scaler.fit_transform(x_train)
x_test = scaler.fit_transform(x_test)

In [61]:
x_train = pd.DataFrame(x_train, columns=[cols])
x_test = pd.DataFrame(x_test, columns=[cols])
x_train.head()
x_test.head()

  Gender       Age EstimatedSalary
0    1.0 -0.303030          0.3625
1    0.0  0.181818         -0.5625
2    1.0  0.000000          0.0625
3    0.0 -0.303030          0.1625
4    0.0  0.000000         -0.5625

In [63]:
gnb = GaussianNB()

In [64]:
gnb.fit(x_train, y_train)

GaussianNB()

In [65]:
y_pred = gnb.predict(x_test)

In [66]:
accuracy_score(y_test, y_pred)

0.92

In [67]:
y_pred = gnb.predict(x_train)

In [68]:
accuracy_score(y_train, y_pred)

0.89

### Problem Statement: -
In this case study, you have been given Twitter data collected from an anonymous twitter handle. With the help of a Naïve Bayes model, predict if a given tweet about a real disaster is real or fake.
1 = real tweet and 0 = fake tweet

In [69]:
from sklearn.feature_extraction.text import CountVectorizer,TfidfTransformer

In [70]:
df = pd.read_csv(r"C:\Users\tarun\Documents\taruns imp\Data science material\assignments\SETS\Naive byers\Disaster_tweets_NB.csv",encoding = "ISO-8859-1")

In [71]:
df.drop(['location','id'], axis = 1, inplace = True)
df.columns

Index(['keyword', 'text', 'target'], dtype='object')

In [72]:
df.fillna("Unknown", inplace = True)
df.isnull().sum()

keyword    0
text       0
target     0
dtype: int64

In [73]:
import re

In [74]:
stop_words = []

In [ ]:
with open("C:\Users\tarun\Documents\taruns imp\Data science material\assignments\NLP-TM.txt","r") as sw:
    stop_words = sw.read()

In [ ]:
stop_words = stop_words.split("\n")

In [ ]:
def cleaning_text(i):
    i = re.sub("[^A-Za-z" "]+"," ",i).lower()
    i = re.sub("[0-9" "]+"," ",i)
    w = []
    for word in i.split(" "):
        if len(word)>3:
            w.append(word)
    return (" ".join(w))

In [ ]:
df.text = df.text.apply(cleaning_text)
type(df.text)
type(df)
# removing empty rows
df = df.loc[df.text != " ",:]

In [ ]:
df_train, df_test = train_test_split(df, test_size = 0.2)

In [ ]:
def split_into_words(i):
    return [word for word in i.split(" ")]

In [ ]:
df_bow = CountVectorizer(analyzer = split_into_words).fit(df.text)

In [ ]:
df_matrix = df_bow.transform(df.text)

In [ ]:
train_df_matrix = df_bow.transform(df_train.text)

In [ ]:
test_df_matrix = df_bow.transform(df_test.text)

In [ ]:
tfidf_transformer = TfidfTransformer().fit(df_matrix)

In [ ]:
train_tfidf = tfidf_transformer.transform(train_df_matrix)
train_tfidf.shape

In [ ]:
test_tfidf = tfidf_transformer.transform(test_df_matrix)
test_tfidf.shape

In [ ]:
from sklearn.naive_bayes import MultinomialNB as MB

In [ ]:
df.columns
# Multinomial Naive Bayes
classifier_mb = MB()
classifier_mb.fit(train_tfidf, df_train.target)

In [ ]:
test_pred_m = classifier_mb.predict(test_tfidf)
accuracy_test_m = np.mean(test_pred_m == df_test.target)
accuracy_test_m

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(test_pred_m, df_test.target)

In [ ]:
pd.crosstab(test_pred_m, df_test.target)

In [ ]:
# Training Data accuracy
train_pred_m = classifier_mb.predict(train_tfidf)
accuracy_train_m = np.mean(train_pred_m == df_train.target)
accuracy_train_m